<app-carrossel></app-carrossel>

<div class="card-group">
  <div class="card">
    <img src="assets/sonserina.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quais as caracteristicas de um Sonserino?</h5>
      <p class="card-text">Os membros da Sonserina têm como características, sobretudo, a ambição e a busca pela grandeza, por isso estão sempre se dedicando a alcançar e expandir metas e se empenhando com inteligência em diversas áreas da magia.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/fundadorsonserina.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quem foi o fundador da Sonserina?</h5>
      <p class="card-text">Salazar Slytherin foi um bruxo sangue puro nascido por volta de 976 e um dos quatro fundadores da Escola de Magia e Bruxaria de Hogwarts, sendo reconhecido por sua astúcia e determinação. Ele foi considerado um dos maiores bruxos da época, respectivamente como Ofidioglota e um habilidoso Legilimente.
       <br> O fundador, de acordo com o próprio Chapéu Seletor, valorizava e favorecia estudantes de sangue puro. Entretanto, qualquer aluno que possui um status sanguíneo diferente, pode ser colocado na casa.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/voldemort.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Membros famosos da Sonserina</h5>
      <p class="card-text">Bruxas, e bruxos como Draco Malfoy e Voldemort pertencem à muito difamada Casa de Hogwarts. No entanto, a Sonserina também é o lar de algumas das melhores pessoas da equipe, o que sugere que sua reputação desfavorável é um pouco indigna.
        <br>Um dos magos mais icônicos do mundo, Merlin, também era um sonserino.
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
