
<nav class="navbar bg-dark">
  <div class="container-fluid">
  <div class="nav justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="assets/WizardWorld2.png" id="logo" alt="" width="80" height="84" class="d-inline-block align-text-top">
    </a>
  </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" id="button" aria-current="page" routerLink="formulario-casa-hogwarts">Descubra sua casa de Hogwarts</a>
      </li>
    </ul>
  </div>
</nav>



