<app-carrossel></app-carrossel>

<div class="card-group">
  <div class="card">
    <img src="assets/corvinal.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quais as caracteristicas de um Corvinal?</h5>
      <p class="card-text"> Seus membros, comumente, são caracterizados por sua inteligência, aprendizado e sabedoria. Suas cores são o azul e bronze, o animal emblemático é uma águia e sua fantasma patrono é a Dama Cinzenta.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/helenacorvinal.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quem foi o fundador da Corvinal?</h5>
      <p class="card-text">Rowena Ravenclaw foi uma bruxa escocesa nascida por volta de 976 e uma das quatro fundadoras da Escola de Magia e Bruxaria de Hogwarts. Ela era reconhecida por sua inteligência e criatividade. Ravenclaw morreu em algum momento durante o século XI, logo depois de adoecer fatalmente. Acredita-se que, seu coração foi partido devido a fuga de sua filha Helena com seu diadema.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/luna.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Membros famosos da Corvinal</h5>
      <p class="card-text">Quem pertence à casa Corvinal é sábio, perspicaz e inteligente. Nos filmes da saga Harry Potter, tais características estão personificadas em diversos personagens icônicos, como Luna Lovegood, professor Flitwick e senhor Olivaras.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
