<div class="cor">

  <nav class="navbar navbar-expand-lg lg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" aria-current="page" routerLink="/grifinoria">Grifinória</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/sonserina">Sonserina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/corvinal">Corvinal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/lufa-lufa">Lufa-lufa</a>
      </li>
    </ul>
  </nav>
</div>
