<app-carrossel></app-carrossel>

<div class="card-group">
  <div class="card">
    <img src="assets/lufalufa.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quais as caracteristicas de um Lufano?</h5>
      <p class="card-text"> Os estudantes da Lufa-Lufa são dedicados, pacientes e honestos. Suas admiráveis características os tornam trabalhadores árduos e modestos, sendo receptivos a todos os demais tipos de bruxos.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/fundadoralufalufa.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quem foi o fundador da Lufa-lufa?</h5>
      <p class="card-text">Helga Hufflepuff foi uma bruxa galesa nascida por volta de 976 e uma das quatro fundadoras da Escola de Magia e Bruxaria de Hogwarts. Enquanto o restante dos instituidores prezavam por características especiais em seus alunos, Helga aceitou a todos sem preferência, embora quisesse que eles fossem leais e dedicados.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/cedrico.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Membros famosos da Lufa-Lufa</h5>
      <p class="card-text">Por mais que não tenham a nobreza da Grifinória ou a inteligência da Corvinal, os membros da Lufa-Lufa sem dúvida são os mais gentis e amorosos.Representando o elemento Terra, os alunos da Lufa-Lufa possuem uma forte conexão com a natureza, em especial com as criaturas e plantas do Mundo Bruxo.
       <br> Dentre seus membros, podemos destacar: Newton Scamander, Cedrico Diggory e Ninfadora Tonks.

      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

