<app-carrossel></app-carrossel>

<div class="card-group">
  <div class="card">
    <img src="assets/grifinorialogo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quais as caracteristicas de um Grifinório?</h5>
      <p class="card-text">Eles são conhecidos pela coragem, pela honra, pela ousadia e pela determinação. Ao mesmo tempo, são famosos por levarem essas convicções ao extremo, fazendo que atos incrivelmente corajosos sejam vistos como ações imprudentes.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/grodicgrifinoria.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quem foi o fundador da Grifinória?</h5>
      <p class="card-text">A casa foi fundada por Godric Gryffindor (traduzido como Gódrico Grifinória), um bruxo nascido num vilarejo que seria rebatizado como Godric's Hollow, em sua homenagem. O mais destemido dos quatro fundadores, Godric era um grande amigo de Salazar Slytherin, mas se opunha fortemente às ideias de aceitar apenas bruxos puro-sangue em Hogwarts.
        O Chapéu Seletor de Hogwarts era do próprio Godric, que o encantou para facilitar o processo de seleção para as quatro casas.

      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/harryronyehermione.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Membros famosos da Grifinória</h5>
      <p class="card-text">A Grifinória é a casa mais explorada ao longo dos sete livros e oito filmes da franquia Harry Potter, o que significa que todos os personagens principais que conhecemos são de lá. Alguns dos bruxos mais célebres são o próprio Harry Potter, bem como Hermione Granger e toda a família Weasley.
        Além disso, podemos citar os quatro marotos - Tiago Potter, Remo Lupin, Sirius Black e Pedro Pettigrew -, Alvo Dumbledore, Minerva McGonagall, Lílian Potter e Rúbeo Hagrid.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
